<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crab.mybatis.mapper.MyUserMapper">
  <resultMap id="BaseResultMap" type="com.crab.mybatis.domain.MyUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="is_adult" jdbcType="VARCHAR" property="is_adult" />
    <result column="intrest" jdbcType="VARCHAR" property="intrest" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sex, age, addr, tel, is_adult, intrest, birthday, weight, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from my_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from my_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crab.mybatis.domain.MyUser">
    insert into my_user (id, name, sex, 
      age, addr, tel, is_adult, 
      intrest, birthday, weight, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{addr,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{is_adult,jdbcType=VARCHAR}, 
      #{intrest,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{weight,jdbcType=DOUBLE}, 
      #{create_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.crab.mybatis.domain.MyUser">
    insert into my_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="is_adult != null">
        is_adult,
      </if>
      <if test="intrest != null">
        intrest,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="is_adult != null">
        #{is_adult,jdbcType=VARCHAR},
      </if>
      <if test="intrest != null">
        #{intrest,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crab.mybatis.domain.MyUser">
    update my_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="is_adult != null">
        is_adult = #{is_adult,jdbcType=VARCHAR},
      </if>
      <if test="intrest != null">
        intrest = #{intrest,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crab.mybatis.domain.MyUser">
    update my_user
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      addr = #{addr,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      is_adult = #{is_adult,jdbcType=VARCHAR},
      intrest = #{intrest,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      weight = #{weight,jdbcType=DOUBLE},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>