<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crab.mapper.CoursechapterMapper">
  <resultMap id="BaseResultMap" type="com.crab.domain.Coursechapter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="chapter" jdbcType="VARCHAR" property="chapter" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="video_code" jdbcType="VARCHAR" property="videoCode" />
    <result column="sourcecode_url" jdbcType="VARCHAR" property="sourcecodeUrl" />
    <result column="sourcecode_code" jdbcType="VARCHAR" property="sourcecodeCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, course_id, chapter, video_url, video_code, sourcecode_url, sourcecode_code, create_time, 
    create_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_course_chapter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_course_chapter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.crab.domain.Coursechapter">
    insert into t_course_chapter (id, course_id, chapter, 
      video_url, video_code, sourcecode_url, 
      sourcecode_code, create_time, create_user
      )
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{chapter,jdbcType=VARCHAR}, 
      #{videoUrl,jdbcType=VARCHAR}, #{videoCode,jdbcType=VARCHAR}, #{sourcecodeUrl,jdbcType=VARCHAR}, 
      #{sourcecodeCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.crab.domain.Coursechapter">
    insert into t_course_chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="chapter != null">
        chapter,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="videoCode != null">
        video_code,
      </if>
      <if test="sourcecodeUrl != null">
        sourcecode_url,
      </if>
      <if test="sourcecodeCode != null">
        sourcecode_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapter != null">
        #{chapter,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoCode != null">
        #{videoCode,jdbcType=VARCHAR},
      </if>
      <if test="sourcecodeUrl != null">
        #{sourcecodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="sourcecodeCode != null">
        #{sourcecodeCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crab.domain.Coursechapter">
    update t_course_chapter
    <set>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapter != null">
        chapter = #{chapter,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoCode != null">
        video_code = #{videoCode,jdbcType=VARCHAR},
      </if>
      <if test="sourcecodeUrl != null">
        sourcecode_url = #{sourcecodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="sourcecodeCode != null">
        sourcecode_code = #{sourcecodeCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crab.domain.Coursechapter">
    update t_course_chapter
    set course_id = #{courseId,jdbcType=INTEGER},
      chapter = #{chapter,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      video_code = #{videoCode,jdbcType=VARCHAR},
      sourcecode_url = #{sourcecodeUrl,jdbcType=VARCHAR},
      sourcecode_code = #{sourcecodeCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>